@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap);


body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006432;
    color: white;
    margin: 2px;
}

.container {
    height: 90%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.displayImg {
    height: 292px;
    width: 340px;
    background-image: url(../img/forca-0.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 25px;
    margin-top: 15px;
}

.palavra-secreta {
    height: 48%;
    width: 99%;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    
}
.letras {
    height: 65px;
    width: 56px;
    font-family: "Sriracha", cursive;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid white;
    margin-right: 20px;
}

.menu {
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Serif", serif;
    font-size: 40px;
    border: 3px solid;
    border-radius: 15px;
}
.apcao {
    height: 65px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid;
}

.font {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif", serif;
    font-size: 50px;
    margin-left: 40px;
}

.buttonM {
    align-items: center;
    font-family: "Noto Serif", serif;
    font-size: 45px;
    color: white;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}
.buttonM:hover {
    transform: scale(1.2);
}

.teclado {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25px;

}
.tecla {
    width: 50px;
    text-align: center;
    font-family: "Noto Serif", serif;
    font-size: 45px;
    color: white;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}
.tecla:hover {
    transform: scale(1.5);
}

#dialogo {
    border: transparent;
    height: 90%;
    width: 68%;
    background-image: url(../img/certificado.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dica{
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: right;
    font-family: "Noto Serif", serif;
    font-size: 40px;
    margin-top: -280px;
    margin-left: 150px;
}

.exibirDica {
    width: 200px;
    font-size: 20px;
    margin-left: -15px;
    margin-top: -15px;
    text-align: justify;
}