@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);


body{
    height: 100vh;
    background-image: url(../img/fundo.jpg);
    background-size: 25%;
    margin: 0%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: "Sriracha", cursive;
    font-size: 65px;
    color: white;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -40px;
}

.quadro{
    height: 345px;  
    width: 970px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/quadro.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.button{
    height: 90px;
    width: 150px;
    background-color: transparent;
    border-radius: 15px;
    font-family: "Shadows Into Light", cursive;
    font-size: 50px;
    color: white;
    cursor: pointer;
    margin: 15px;
}
.button:hover{
    transform: scale(1.1);
}