@import url(https://fonts.googleapis.com/css2?family=Sriracha&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);


body{
    height: 100vh;
    background-image: url(../img/fundo.jpg);
    background-size: 25%;
    margin: 0%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: "Sriracha", cursive;
    font-size: 75px;
    color: white;
    text-align: center;
    margin-top: -90px;
    margin-bottom: -50px;
}

.quadro{
    height: 365px;  
    width: 1020px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/quadro.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: -50px;
}

.button{
    height: 80px;
    width: 150px;
    background-color: transparent;
    border-radius: 15px;
    font-family: "Shadows Into Light", cursive;
    font-size: 45px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
.button:hover{
    transform: scale(1.1);
}

.font {
    height: 20;
    color: white;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid;
    border-radius: 5px;
    display: inline-flex;
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
    margin: 0px;
    margin-top: -5px;
    padding: 0px;
}
.font:hover {
    transform: scale(1.2);
    color: gray;
}

.left {
    margin-left: -385px;
    margin-right: 385px;
}

.right {
    margin-left: 475px;
    margin-right: -475px;
}
.center {
    justify-content: center;
    align-items: center;
}