@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);



body {
    height: 100vh;
    background-color: #006432;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    
}

.title {
    font-family: "Sriracha", cursive;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 0px;
}

table {
    width: 90%;
    font-family: "Shadows Into Light", cursive;
    font-size: 50px;
    color: white;
    border: 3px solid;
    border-collapse: collapse;
}

th,td {
    border: 3px solid;
    text-align: center;
}